<div>
  <h1>LOGIN</h1>
  <div>
    <input id="nameInput" placeholder="Il tuo nome?" />
    <div>
      <p>seleziona lo spettacolo</p>
      <div>
        <select id="">
          <!--ognuno ha una chiave corrispondente-->
          <!--avrò un array {{nome spettacolo/sala}} -->
          <option>nomeSpettacolo 1</option>
          <option>nomeSpettacolo 2</option>
          <option>nomeSpettacolo 3</option>
        </select>
      </div>
      <button>Prenota</button>
    </div>
  </div>
</div>
