<h3 *ngIf="!rapido">{{ title }}</h3>
<p *ngIf="rapido">Ciao {{ nomePrenotazione }},{{ title2 }}</p>
<p
  *ngIf="!rapido"
  [ngStyle]="{ height: '20px', width: '50%', border: '0.5px dashed black' }"
>
  {{ nomePosto }}
</p>
<div *ngIf="teatro !== undefined">
  <div *ngFor="let prenotazioni of teatro.platea; let fila = index">
    <span *ngFor="let persona of prenotazioni; let posto = index">
      <app-pulsante
        [rapido]="rapido"
        (mostraNomeEmitter)="mostraPrenotazione($event, 'platea', fila, posto)"
        [nomePosto]="persona"
        [etichetta]="'P' + posto"
        [prenotato]="prenotato"
      ></app-pulsante>
    </span>
  </div>
  <br />
  <div *ngFor="let prenotazioni of teatro.palco; let fila = index">
    <span *ngFor="let persona of prenotazioni; let posto = index">
      <app-pulsante
        [rapido]="rapido"
        (mostraNomeEmitter)="mostraPrenotazione($event, 'palco', fila, posto)"
        [nomePosto]="persona"
        [etichetta]="'P' + posto"
        [prenotato]="prenotato"
      ></app-pulsante>
    </span>
  </div>
  <br />
  <div>
    <button (click)="eliminaTeatro()">indietro</button>
    <button *ngIf="!rapido" (click)="prenota()">conferma</button>
  </div>
</div>
