<h3>Ciao {{ nomePrenotazione }}</h3>
<p *ngIf="!rapido">
  {{ title }}
</p>
<p *ngIf="rapido">
  {{ title2 }}
</p>
<p
  *ngIf="!rapido"
  [ngStyle]="{ height: '20px', width: '50%', border: '0.5px dashed black' }"
>
  {{ nomePosto }}
</p>
<div *ngIf="teatro !== undefined">
  <app-sala-teatro
    [nomePrenotazione]="nomePrenotazione"
    [prenotazioni]="platea"
    [rapido]="rapido"
  ></app-sala-teatro>
  <br />
  <app-sala-teatro [prenotazioni]="palco" [rapido]="rapido"></app-sala-teatro>
  <br />
  <div>
    <button (click)="eliminaTeatro()">indietro</button>
    <button *ngIf="!rapido" (click)="prenota()">conferma</button>
  </div>
</div>
