<div *ngIf="teatro === undefined">
  <h3>{{ title }}</h3>
  <input
    #inserisci
    type="text"
    (keyup)="passaNome($event)"
    placeholder="il tuo nome?"
  />
  <br />
  <span>
    <button (click)="mostraTeatro(false)">Prenota</button><br />
    <button *ngIf="nomePrenotazione" (click)="mostraTeatro(true)">
      Prenotazione rapida
    </button>
  </span>
</div>
<div *ngIf="teatro !== undefined">
  <app-teatro
    [teatro]="teatro"
    [nomePrenotazione]="nomePrenotazione"
    (eliminaTeatroEmitter)="clean($event)"
  ></app-teatro>
</div>
