<div *ngIf="teatro === undefined">
  <h3>{{ title }}</h3>
  <select #spettacolo (change)="numeraSpettacolo(spettacolo.value)">
    <option *ngIf="spettacoloIndex === undefined">
      seleziona lo spettacolo
    </option>
    <option *ngFor="let spettacolo of sale" [ngValue]="spettacolo">
      {{ spettacolo }}
    </option>
  </select>
  <br />
  <input
    *ngIf="spettacoloIndex !== undefined"
    #inserisci
    type="text"
    (keyup)="passaNome($event)"
    placeholder="inserisci il tuo nome"
  />
  <br />
  <span *ngIf="nomePrenotazione">
    <button (click)="mostraTeatro(spettacolo.value, false)">Prenota</button
    ><br />
    <button (click)="mostraTeatro(spettacolo.value, true)">
      Prenotazione rapida
    </button>
  </span>
</div>
<div *ngIf="teatro !== undefined">
  <app-teatro
    [teatro]="teatro"
    [nomePrenotazione]="nomePrenotazione"
    (eliminaTeatroEmitter)="clean($event)"
    (inviaPrenotazioniEmitter)="aggiornaPrenotazioni($event)"
  ></app-teatro>
  <br />
  <p>{{ conferma }}</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<button (click)="NewresetPrenotazioni()">reset teatro</button>
<p>{{ conferma }}</p>
