<div *ngIf="teatro === undefined">
  <h3>{{ title }}</h3>
  <select>
    <option #spettacolo *ngFor="let spettacolo of sale" [ngValue]="spettacolo">
      {{ spettacolo }}
    </option>
  </select>
  <br />
  <input
    #inserisci
    type="text"
    (keyup)="passaNome($event)"
    placeholder="inserisci il tuo nome"
  />
  <br />
  <span *ngIf="nomePrenotazione">
    <button (click)="mostraTeatro(#spettacolo.spettacolo.value,false)">
      Prenota</button
    ><br />
    <button (click)="mostraTeatro(#spettacolo.spettacolo.value,false)">
      Prenotazione rapida
    </button>
  </span>
</div>
<div *ngIf="teatro !== undefined">
  <app-teatro
    [teatro]="teatro"
    [nomePrenotazione]="nomePrenotazione"
    (eliminaTeatroEmitter)="clean($event)"
    (inviaPrenotazioniEmitter)="aggiornaPrenotazioni($event)"
  ></app-teatro>
  <br />
  <p>{{ conferma }}</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<button (click)="NewresetPrenotazioni()">reset teatro</button>
<p>{{ conferma }}</p>
